body {
    margin: 0;
    overflow: hidden;
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    object-fit: cover;
    object-position: center 6%;

    z-index: -1;
}


.title {
    position: fixed;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

/*Knöpfe einstellen für Konto erstellen und Anmelden*/


.btn {
    padding: 20px 50px;
    font-size: 20px;

    width: 250px;

    font-family: 'Playfair Display', serif;

    background-color: #a9a799;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    transition: 0.3s;
}


.btn:hover {
    background-color: #c79dba;
    transform: translate(-50%, -50%) scale(1.1);
}

.btn1 { top: 48%; }
.btn2 { top: 58%; }

.btn3 {
    padding: 10px 20px;

    background-color: #a9a799;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    transition: 0.3s;

}

/*CSS für Settings Knopf*/

.settings-btn {
    position: fixed;

    bottom: 20px;   /* Abstand unten */
    right: 20px;    /* Abstand rechts */

    width: 30px;
    height: 30px;

    cursor: pointer;

    z-index: 1;

    transition: 0.3s;


}

.settings-btn:hover {
    transform: rotate(90deg) scale(1.1);
}

/*Konto erstellen Seite*/
/* Container */
.form-container {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-65%, -50%);
    grid-template-columns: 1fr 1fr;

    font-family: 'Playfair Display', serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;

    width: 350px;
}


/* Inputs */
/* Wrapper = beide Spalten nebeneinander */
.form-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;  /* Abstand zwischen links & rechts */

    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Spalten */
.form-left,
.form-right {
    display: flex;
    flex-direction: column;
}

/* Inputs */
.form-wrapper input {
    width: 300px;
    padding: 14px;
    margin: 10px 0;

    border-radius: 12px;
    border: none;

    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

/* Button unter allem */
button {
    display: block;
    margin: 30px auto;
}

.title1 {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

/*button für das Konto erstellen */
.btn4 {
    position: fixed;
    top: 90%;
    left: 50%;

}

.label1 {

    color: white;
}

/*
Map für die Scooter Auswahl
 */

body.availability-page {
    margin: 0;
    padding: 0;
}

body.availability-page #map {
    height: 100vh;
    width: 100%;
}

/*Konto wurde erstellt zurück zur startseite noch machen
*/

.password-hint {
    font-size: 12px;
    color: #666666;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
}

